<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h1 class="my-5">Contract List</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Contract</th>
            <th>Username</th>
            <th>Money</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.contractName}"></td>
            <td th:text="${contract.username}"></td>
            <td th:text="${contract.money}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
